
body {
    background-color: #CCCCCC;
    padding-top: 10px;
    padding-left: 10%;
}

p, input {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

input {
    padding-left: 2pt;
    padding-bottom: 3pt;
}

table {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.test, button, input {
    background-color: #bbb;
    border-color: #ddd;
    border-radius: 3pt;
    border-width: 3pt;
    /* width: 50pt; */
    height: 20pt;
}

button:hover {
    background-color: #ddd;
    border-color: #bbb;
}

progress {
    width: 300pt;
    height: 20pt;
}
